/* Header style*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    font-weight: 300;
    font-family: Lato, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

header a {
    text-decoration: none;
}

#logo {
    font-size: 200%;
    color: darkslategray;
}

#menu {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 30px;
    margin: 25px 10px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a {
    text-decoration: none;
    font-size: 110%;
    padding: 0.25rem;
    display: inline-block;
    width: 100%;
    color: darkslategray;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* Hero Image*/
#hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-top: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
}

#hero-image {
    display: inline-block;
    width: 100%;
}

#hero-image img {
    width: 100%;
}

#intro {
    background-color: #2D2410;
    opacity: 0.7;
    width: 40%;
    height: auto;
    font-size: 28px;
    font-family: Lato, sans-serif;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 6rem;
    right: 0;
}

/* Container */
.collum {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

#about {
    background-color: #8A9A40;
    color: white;
    padding: 5px;

}

.collum h2 {
    color: blanchedalmond;
    font-weight: 600;
    line-height: 50px;
}

.collum p {
    text-indent: 10px;
    line-height: 25px;

}

.collum img {
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

#depoiment {
    background-color: darkslategray;
    color: white;
    padding: 5px;
}


#brief-image {

    background-size: 150%;
    height: 100%;
    border-radius: 50%;
}

#description {
    color: aliceblue;

    width: 100%;

}

#brief {
    background-color: crimson;
}

footer {
    padding-top: 1vw;
    height: fit-content;
    background-color: #A66A43;
    font-family: Lato, sans-serif;
}

#social-media {
    text-align: center;
    max-width: 33vw;
    margin-left: 33vw;
}

#social-media>li {
    display: inline;
}

#social-media i {
    padding: 1vw;
    font-size: 30px;
    color: whitesmoke;
}

#social-media a {
    text-decoration: none;
    font-size: 50%;
}

.container-review {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.name {
    width: 200px;
    font-size: 15px;
    margin-left: 10px;
    color: blanchedalmond;
}

@media screen and (max-width: 900px) {
    #hero-image {
        width: 100%;
    }

    #hero-image img {
        object-fit: contain;
    }

    .collum img {
        height: 70%;
        width: 70%;
        border-radius: 50%;
    }
}

@media screen and (max-width: 600px) {

    .collum {
        width: 200%;

    }

    #description p {
        word-break: break-all;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .conditional-hidden {
        display: none;
        visibility: hidden;
        max-height: 0;
    }

    header {
        justify-content: center;
    }

    #logo {
        font-size: 150%;
    }

    nav {
        width: 100%;
        font-size: 14px;
    }
}